@import "global";
@import "animation";

#main{
	@include absoluteTopLeft;
	width: 100%;
	height: 100%;
	//opacity: .1;
}

#game-container{
	@include absoluteTopLeft;
	width: 100%;
	height: 100%;
	background: #555;
}